<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @donor.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @donor.email %>
</p>

<p>
<table>
   <tbody>
    <% @donor.donations.each do |donor| %>
      <tr>
        <td><%= number_to_currency(donor.amount) %></td>
        <td><%= donor.date %></td>

      </tr>
    <% end %>
  </tbody>

</p>

</table>

<p>
  <strong>TOTAL: </strong><%= number_to_currency(@donor.total) %>

</p>
<%= link_to 'Edit', edit_donor_path(@donor) %> |
<%= link_to 'Back', donors_path %>
